body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#image{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0;
  background-size: cover;
}

#banner-titolo{

  width: 100vw;
  background-color: rgba(255, 70, 87, 1);
  text-align: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

#banner-testo{
  display: inline;
  background-color: white;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  z-index: 2;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 4.3vw;
  letter-spacing: 0.3vw;
  margin-left: -8vw;
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 2.6vw;
  font-weight: 100;
  letter-spacing: 0.1vw;
  margin-top: 2vh;
  margin-bottom: 0.5vh; /* Add this line */
}

h4 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.3vw;
  font-weight: 100;
  margin-top: 0; /* Update this line */
  margin-bottom: 2vh;
  max-width: 70vw; /* Add this line */
  margin-left: auto; /* Add this line */
  margin-right: auto; /* Add this line */
}

p {
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.28vw;
  text-align: left;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.button {
  position: relative;
  background-color: rgba(255, 70, 87, 1);
  color: white;
  border: none;
  margin-top: 1vh;
  width: 16vw;
  height: 5vw;
  padding: 0%;
  border-radius: 2.5vw;
  cursor: pointer;
  font-size: 1.5vw;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 3vh;
}

#button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner_inferiore{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner_superiore{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  p {
    font-size: 14px; /* Adjust the font size as needed for readability */
  }

  h2 {
    font-size: 24px; /* Adjust the font size as needed for readability */
  }

  h4 {
    font-size: 14px; /* Adjust the font size as needed for readability */
  }

  .button {
    height: 35px;
    width: 150px;
    padding: 0%;
    border-radius: 17px;
    font-size: 18px; /* Adjust the font size as needed for readability */
  }

}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  p {
    font-size: 12px; /* Adjust the font size as needed for readability */
  }
  
  h2 {
    font-size: 20px; /* Adjust the font size as needed for readability */
  }

  h4 {
    font-size: 12px; /* Adjust the font size as needed for readability */
  }

  .button {
    height: 35px;
    width: 150px;
    padding: 0%;
    border-radius: 17px;
    font-size: 16px; /* Adjust the font size as needed for readability */
  }
}