body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#image{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0;
  background-size: cover;
}

#banner-titolo{

  width: 100vw;
  background-color: rgba(255, 70, 87, 1);
  text-align: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
}

#banner-testo{
  background-color: white;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  z-index: 2;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 4.3vw;
  letter-spacing: 0.3vw;
  margin-left: -8vw;
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 2.6vw;
  font-weight: 100;
  letter-spacing: 0.1vw;
  margin-left: 13vw;
}

h4 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.3vw;
  font-weight: 100;
  max-width: 73vw;
  margin-left: 12vw;
  margin-bottom: 2.5vh;
  margin-top: -2vh;
}

p {
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.3vw;
  text-align: justify;
  width: 70vw; /* Imposta una larghezza fissa */
  margin-top: 2vh;
  margin-left: 14vw;
  right: 0vw;
}


.button {
  position: relative;
  background-color: rgba(255, 70, 87, 1);
  color: white;
  border: none;
  margin-top: 1vh;
  width: fit-content;
  padding: 1%;
  border-radius: 10px;
  height: fit-content;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 3vh;
}

#button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner_inferiore{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner_superiore{
  width: 100vw;
  background-size: 100%; /* Scalare l'immagine al 90% della dimensione originale */
  background-position: center;
}