body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
  }

  .quiz-container {
    position: relative;
    width: 80vw;
    height: 60vh;
    max-width: 500px;
    max-height: 400px;
    margin: 0;
    padding: 5%;
    background-color: rgba(255, 70, 87, 0.7);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .quiz-container > * {
    flex: 1 0 auto;
  }

  #next_button {
    background-color: rgba(241, 229, 229, 1);
    border: none;
    width: fit-content;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
  }

  #question_number {
    font-size: 4vh;
  }

  #question_text {
    font-size: 3vh;
    font-weight: bolder;
  }

  .options {
    display: contents;
    font-size: 3vh;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }