body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.quiz-container {
  position: relative;
  max-width: 80vh;
  max-height: 70vh;
  margin: 0;
  padding: 5%;
  background-color: rgba(255, 70, 87, 0.7);
  border-radius: 15%;
  text-align: center;
}


.question {
    display: none;
}

.question.visible {
    display: block;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

#next_button {
    background-color: rgba(241, 229, 229, 1);
    border: none;
    width: fit-content;
    margin-top: 2vh;
    height: fit-content;
    border-radius: 10%;
    margin-bottom: 2vh;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
}

#question_number {
    font-size: 4vh;
}

#question_text {
    font-size: 3vh;
}

.options {
    font-size: 3vh;
}
  
