body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
  }
  
.quiz-container {
    top: 15%;
    max-width: 80vh;
    max-height: 70vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.question {
    display: none;
}

.question.visible {
    display: block;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

.submit-btn {
    margin-top: 20px;
}
